.article {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.article__post {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  gap: 48px 40px;
}

.article__city-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 72px;
  line-height: 106%;
}

.article__artists-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-bottom: 8px;

  color: #aaaaaa;
}

.article__artist-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
}

.article__artists-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.article__button {
  padding: 13px 20px;
  width: 289px;
  height: 48px;

  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border-style: none;
}

.article__button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

.article__button-text {
  width: 249px;
  height: 22px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.article__image {
  width: 100%;
  margin-bottom: 48px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.article__image:hover {
  opacity: 0.5;
}

.article__city-description {
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

@media screen and (max-width: 320px) {
  .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }

  .article__post {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 0 16px;
  }

  .article__image {
  }

  .article__city-title {
    font-size: 42px;
    line-height: 110%;
  }

  .article__artist-name {
    font-size: 18px;
  }

  .article__city-description {
    font-size: 16px;
  }
}
