.gallery {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.gallery__image {
  width: 100%;
}

@media screen and (max-width: 320px) {
  .gallery {
    max-width: 288px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    max-width: 720px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
