body {
  background-color: #2a2c2f;
  font-family: "Inter";
  color: white;
  font-weight: 400;
  font-size: 16px;
}

p {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 984px;
}

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .content {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
